.pag-inicial {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pag-inicial__titulo {
	color: white;
}

.tipo-pessoa {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.tipo-pessoa__icone-pf {
	color: white;
}

.tipo-pessoa__icone-pj {
	color: white;
}

.tipo-pessoa__imagem {
	width: 80%;
}